@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/frontend/app/assets/sass/variables/_border-radius.scss';
@import '../../../vendor/frontend/app/assets/sass/variables/_breakpoints.scss';
@import '../../../vendor/frontend/app/assets/sass/variables/_divider.scss';
@import '../../../vendor/frontend/app/assets/sass/variables/_whitespace.scss';
//@import '../../../vendor/hiof-layout/dist/layout';
@import '../../../vendor/hiof-colors/dist/colors';
//@import '../../../vendor/hiof-typography/dist/typography';



// Reset old .btn implementation
.btn{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;

  text-transform: inherit;
  height: auto;
  margin-right: auto;
}

// IMPORT
//@import "../../../vendor/frontend/app/assets/less/variables/_standard.less";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_panels";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_buttons";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_forms";
@import "../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_input-groups";
//@import "../../../vendor/frontend/app/assets/less/components/_component_helpers.less";



// -----------------------------------------------------------
// -----------------------------------------------------------
// Output
//.universal();
//@media screen and (max-width: 640px) {
//    .small();
//}
//
//@media screen and (min-width: 641px) and (max-width: 899px) {
//    .medium();
//}
//
//@media screen and (min-width: 900px) {
//    .large();
//}
//
//@media (-webkit-min-device-pixel-ratio: 2),
//(min-resolution: 192dppx) {
//    .retina();
//}
@media print{
    .collapse{
        display: block;
    }
    #logo-hiof{

        &:after {
            content: url(http://hiof.no/assets/images/logo-hiof.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 60px;

        }
    }
    .panel{
        border: none;
    }
    #header{
        margin-bottom: 0;
    }
}
