<form>
  <div class="input-group">
    <input class="form-control filterinput" type="text" placeholder="Søk etter..." />
    <span class="input-group-btn">
      <button class="btn btn-warning" type="button">Tøm søk</button>
    </span>
  </div>
</form>
