<form>
  <div class="input-group">
    <input class="form-control filterinput" type="text" placeholder="{{meta.placeholder}}" />
    <span class="input-group-btn">
      <button class="btn btn-warning" type="button">{{meta.emptysearch}}</button>
    </span>
  </div>
</form>
